<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Enseignant-chercheur</mat-card-title>
    <h4>{{isFormInEditMode() ? 'Modifier les détails' : 'Ajouter un enseignant'}}</h4>

    <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">


      <mat-form-field>
        <input matInput placeholder="cin" formControlName="cin">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="nom" formControlName="nom">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="prenom" formControlName="prenom">
      </mat-form-field>

      <mat-form-field >
      <input matInput [matDatepicker]="picker" placeholder="data de naissance" formControlName="dateNaissance" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="etablissement" formControlName="etablissement">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="grade" formControlName="grade">
      </mat-form-field>


      <div *ngIf="currentItemId ==null" class="form-group">
        <label>Cv</label>
        <input type="file" accept="pdf/*" formControlName="cv" (change)="onSelectCV($event)">
      </div>



      <div *ngIf="currentItemId ==null" class="form-group">
        <label>Photo</label>
        <input  type="file" accept="image/*" formControlName="photo" (change)="onSelectFile($event)">
        <img [src]="imgURL" height="200" *ngIf="imgURL"/>
      </div>

      <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="password" type="password" formControlName="password">
      </mat-form-field>

      <div class="form-element">
        <button mat-raised-button color="warn" [disabled]="form.invalid" type="submit">Ajouter</button>
        <button mat-raised-button color="primary" routerLink="/members">Annuler</button>
      </div>

    </form>

  </mat-card-content>
  </mat-card>
  </div>
</div>
