<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
        <mat-card-content>

            <mat-card-title>{{isFormInEditMode() ? 'Modifier l\'outil' : 'Créer un outil'}}</mat-card-title>
            <!-- ============================================================== -->
            <!-- column -->
            <!-- ============================================================== -->
            <form  class="basic-form" [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()">
                <div fxLayout="row wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <mat-form-field>
                            <input matInput placeholder="source" formControlName=source>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <button mat-raised-button color="warn" type="submit" [disabled]="form.invalid">Ajouter</button>
                        <button mat-raised-button color="primary" (click)="previousState()">Annuler</button>

                    </div>
                </div>
            </form>
        </mat-card-content>
      </mat-card>
    </div>
</div>
