<mat-card >
    <mat-card-content>
      <form [formGroup]="form" *ngIf="!!form"  (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput  placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="warn">Login</button>
      </form>
      <br>
      <div class="my-20 w-240 abcRioButton abcRioButtonBlue" (click)="tryGoogleLogin()">
        <div class="abcRioButtonContentWrapper">
          <div class="abcRioButtonIcon" style="padding:15px">
            <div style="width:18px;height:18px;"
                 class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
              <img style="width:18px;height:18px;" src="assets/images/google.svg"/>
            </div>
          </div>
          <span style="font-size:16px;line-height:48px;" class="abcRioButtonContents">
              <span id="not_signed_inpsj1je4qtaby">Sign in with Google</span>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
