
<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">List Outils</h4>
        <h6 class="card-subtitle text-white m-0 op-5">vous Pouvez gérer les outils ici</h6>
        <button *ngIf="isAdmin()" mat-mini-fab color="accent" class="add-contact" routerLink="create">+</button>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
          <div class="search-hero">

            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche">
          </div>
            <!-- Message -->
            <a  *ngFor='let outil of dataSource'>
                <div class="user-img">
                    <mat-icon  matBadge="15" matBadgeColor="warn" class="material-icons img-circle">
                        construction
                    </mat-icon>
                </div>
                <div class="mail-contnet">
                    <h5>{{outil.source}} </h5>
                    <span class="mail-desc"><strong>date création: </strong> {{outil.dateCreation | date :'d MMMM y'}}</span>
                </div>
                <ng-container *ngIf="isAdmin()" matColumnDef="actions" stickyEnd>
                    <!--<th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
                    <td mat-cell class="px-12 w-120" *matCellDef="let outil">-->
                      <button mat-icon-button [routerLink]="outil.id + '/edit'">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="onRemoveOutil(outil.id)">
                        <mat-icon>delete</mat-icon>
                      </button>

                    <!--</td>-->
                </ng-container>
            </a>
        </div>
    </div>
</mat-card>
