<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Evenements</mat-card-title>

    <h4>{{isFormInEditMode() ? 'Modifier un evenement' : 'Créer un evenement'}}</h4>

    <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">

      

      <mat-form-field>
        <input matInput placeholder="titre" formControlName="titre">
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="lieu" formControlName="lieu">
      </mat-form-field>


      <mat-form-field >

      <input matInput [matDatepicker]="picker" placeholder="date" formControlName="date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <div  class="form-element">
        <button mat-raised-button color="warn"  type="submit" [disabled]="form.invalid">Ajouter</button>
        <button mat-raised-button color="primary" (click)="previousState()">Annuler</button>

      </div>

    </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>
