<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div  *ngIf=membre class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;" >
    <!-- User profile image -->
    <div class="profile-img"> <img src ="{{path}}{{membre.id}}" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{membre.prenom}}  {{membre.nom}}<i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu" >
        <button routerLink="profil" mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>       
        <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>
    
</div>
<mat-nav-list appAccordion >
    
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            
        </a>
        

        
    </mat-list-item>
    <mat-list-item *ngIf=membre?.grade>
        <a routerLinkActive="selected"  [routerLink]="['/etudiants']" >
            <mat-icon>supervisor_account</mat-icon> 
            <span>Etudiants</span> 
            <span fxFlex></span> 
        </a>
    </mat-list-item>
    <mat-list-item  *ngIf=membre>
        <a routerLinkActive="selected"  (click)="logout()" >
            <mat-icon>exit_to_app</mat-icon> 
            <span>Sign Out</span> 
            <span fxFlex></span> 
        </a>
    </mat-list-item>
</mat-nav-list>