<mat-card>
    <mat-tab-group>
        <!-- Tab 1 -->
        <mat-tab label='Membres'>
            <mat-card-content>
              <div class="search-hero">

                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche">
              </div>
               <div class="my-16" fxLayout="row" fxLayoutAlign="end center">
                 <button *ngIf="isAdmin()" mat-raised-button color="accent" [matMenuTriggerFor]="ajout"><mat-icon class="s-24 mr-4">add</mat-icon>
                   Ajouter un membre
                 </button>

                 <mat-menu #ajout="matMenu">
                   <button mat-menu-item routerLink="enseignant-create">Enseigant-Chercheur</button>
                   <button mat-menu-item routerLink="student-create">Etudiant</button>
                 </mat-menu>
               </div>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
              <table mat-table [dataSource]="dataSource |filter:searchText" class="mat-elevation-z8 w-100-p">
                <ng-container matColumnDef="id">
                  <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
                  <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="cin">
                  <th mat-header-cell class="px-12" *matHeaderCellDef>CIN</th>
                  <td mat-cell class="px-12" *matCellDef="let element"> {{element.cin}} </td>
                </ng-container>

                <ng-container matColumnDef="nom">
                  <th mat-header-cell class="px-12" *matHeaderCellDef>Nom</th>
                  <td mat-cell class="px-12" *matCellDef="let element">{{element.nom}}</td>
                </ng-container>

                <ng-container matColumnDef="prenom">
                    <th mat-header-cell class="px-12" *matHeaderCellDef>Prenom</th>
                    <td mat-cell class="px-12" *matCellDef="let element">{{element.prenom}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell class="px-12" *matHeaderCellDef>EMAIL</th>
                  <td mat-cell class="px-12" *matCellDef="let element">{{element.email}}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell class="px-12" *matHeaderCellDef>Type</th>
                    <td mat-cell class="px-12" *matCellDef="let element">
                      <span class="bg-success text-white rounded font-12 pl-5 pr-5">
                        {{element.grade == null ? 'Etudiant' : 'Enseignant'}}</span>
                    </td>
                </ng-container>

                <ng-container  matColumnDef="profil" stickyEnd>

                    <th mat-header-cell class="px-12 w-120" *matHeaderCellDef>Profil</th>

                    <td mat-cell class="px-12 w-120" *matCellDef="let element">
                    <div >
                      <button class="bg-danger text-white rounded font-12 pl-5 pr-5" [routerLink]="element.id + '/profil'">Voir Profil</button>

                    </div>
                    </td>

                </ng-container>
                <ng-container  matColumnDef="actions" stickyEnd>
                  <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
                  <td mat-cell class="px-12 w-120" *matCellDef="let element">
                    <div *ngIf="isAdmin()">
                    <button mat-icon-button *ngIf="element.grade == null" [routerLink]="element.id + '/student-edit'">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="element.grade != null" [routerLink]="element.id + '/enseignant-edit'">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn"(click)="onRemoveAccount(element.id)" >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  </td>
              </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>
