<div *ngIf="!!membre">

    <mat-card class="oh text-center little-profile">
        <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="pro-img">
                <img src ="{{path}}{{membre.id}}"  width="100" alt="user" class="img-circle"/>
            </div>
            <h3 class="m-b-0"> {{membre?.prenom}} {{membre?.nom}}</h3>
            <h6 class="m-t-0 ">{{membre?.grade}} {{membre?.diplome}}</h6>
            <mat-card-actions>

              <a mat-stroked-button color="warn" href="{{downloadPath}}{{membre.cv}}" target="_blank">Voir CV</a>


              <div *ngIf="isCurrentUser()">
                <button  mat-raised-button color="primary"  *ngIf="membre?.sujet == null"[routerLink]="['../members/'+membre?.id+'/enseignant-edit']">Modifier profil</button>
                <button mat-raised-button color="primary"  *ngIf="membre?.sujet != null"[routerLink]="['../members/'+membre?.id+'/student-edit']">Modifier profil</button>        
              </div>
       </mat-card-actions>
        </mat-card-content>

    </mat-card>
    <mat-card>
        <mat-card-content>
          <mat-card-title>A propos</mat-card-title>
          <strong><h5>Date de naissance : {{membre?.dateNaissance}}<br></h5></strong>
            <h5> Etablissement : {{membre?.etablissement}}<br></h5>
            <h5> Email : {{membre?.email}}<br></h5>
            <h6> <div *ngIf="membre?.sujet != null" >  Sujet : {{ membre?.sujet}} </div></h6>
        </mat-card-content>
    </mat-card>
    <div fxLayout="row wrap">
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <div class="p-20 bg-info position-relative">
                    <h4 class="card-title text-white m-0">Mes Outils</h4>

                    <button *ngIf="isCurrentUser()" mat-mini-fab color="accent" class="add-contact" routerLink="../outils/create">+</button>
                </div>
                <div class="message-box contact-box p-20">
                    <div class="message-widget contact-widget">
                        <!-- Message -->
                      <mat-toolbar *ngIf="outilsData==undefined || outilsData.length ==0">
                        <span>Liste vide</span>
                      </mat-toolbar>
                        <a  *ngFor='let outil of outilsData'>
                            <div class="user-img">
                                <mat-icon  matBadge="15" matBadgeColor="warn" class="material-icons img-circle">
                                    construction
                                </mat-icon>
                            </div>
                            <div class="mail-contnet">
                                <h5>{{outil.source}} </h5>
                                <span class="mail-desc"><strong>date création: </strong> {{outil.dateCreation | date :'d MMMM y'}}</span>
                            </div>
                            <ng-container *ngIf="isCurrentUser()" stickyEnd>
                                  <button mat-icon-button [routerLink]=" '../outils/'+ outil.id + '/edit'">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button color="warn" (click)="onRemoveOutil(outil.id,membre.id)">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                            </ng-container>
                        </a>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <div class="p-20 bg-info position-relative">
                    <h4 class="card-title text-white m-0">Mes Publication</h4>

                    <button *ngIf="isCurrentUser()" mat-mini-fab color="accent" class="add-contact" routerLink="../publications/create">+</button>
                </div>
                <div class="message-box contact-box p-20">
                    <div class="message-widget contact-widget">
                        <!-- Message -->
                      <mat-toolbar *ngIf="PubsData==undefined || PubsData.length ==0">
                        <span>Liste vide</span>
                      </mat-toolbar>
                        <a  *ngFor='let Pub of PubsData '>
                         <div>
                                <h5>{{Pub.titre}}       {{Pub.type}}        </h5>
                                <h6><a href="{{Pub.lien}}">{{Pub.lien}}</a></h6>
                                <span class="mail-desc"><strong>date Apparition: </strong> {{Pub.dateApparition | date :'d MMMM y'}}</span>
                            </div>
                            <ng-container *ngIf="isCurrentUser()" stickyEnd>
                                  <button mat-icon-button [routerLink]=" '../publications/'+ Pub.id + '/edit'">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button color="warn" (click)="onRemovePub(Pub.id,membre.id)">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                            </ng-container>
                            </a>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

            <mat-card>
        <div class="p-20 bg-info position-relative">
            <h4 class="card-title text-white m-0">Mes Evenements</h4>

            <button *ngIf="isCurrentUser()" mat-mini-fab color="accent" class="add-contact" routerLink="../evts/create">+</button>
        </div>
        <div class="message-box contact-box p-20">
            <div class="message-widget contact-widget">
                <!-- Message -->
              <mat-toolbar *ngIf="EvtsData==undefined|| EvtsData.length ==0">
                <span>Liste vide</span>
              </mat-toolbar>
                <a *ngFor='let evt of EvtsData '>

                    <div >
                      <h5>{{evt.titre}} </h5>
                        <span class="mail-desc"><strong>date : </strong> {{evt.date | date :'d MMMM y'}}</span>
                    </div>
                    <ng-container *ngIf="isCurrentUser()" stickyEnd>
                        <button mat-icon-button [routerLink]=" '../evts/'+ evt.id + '/edit'">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onRemoveEvt(evt.id,membre.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                  </ng-container>
                 </a>
            </div>
        </div>



    </mat-card>



        <mat-card *ngIf="isCurrentUser() && membre.grade">
          <div class="p-20 bg-info position-relative">
            <h4 class="card-title text-white m-0">Mes étudiants</h4>
            <h6 class="card-subtitle text-white m-0 op-5">Les étudiants que j'encadre</h6>
            <button  mat-raised-button color="accent" routerLink="/etudiants" class="add-contact">voir tous les étudiants</button>
          </div>
          <div class="message-box contact-box p-20">
            <div class="message-widget contact-widget">
              <!-- Message -->
              <mat-toolbar *ngIf="studentsData==undefined|| studentsData.length ==0">
                <span>Liste vide</span>
              </mat-toolbar>
              <a  *ngFor='let etudiant of studentsData'>
                <div class="mail-contnet">
                  <h5> {{etudiant.nom}} {{etudiant.prenom}}</h5>

                  <span class="mail-desc">{{etudiant.email}}</span>

                </div>



             <ng-container matColumnDef="actions" stickyEnd>

                <button  mat-raised-button color="warn" *ngIf="etudiant.encadrant!=null" (click)="AnnulerAffectation(etudiant.id,membre.id)">Annuler affectation</button>



        </ng-container>
                </a>

            </div>

          </div>
        </mat-card>
</div>



