<mat-card>
    <mat-tab-group>
        <!-- Tab 1 -->
        <mat-tab label='Evenements'>
            <mat-card-content>
              <div class="search-hero">

                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche">
              </div>
                <div class="my-16" fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="isAdmin()"mat-raised-button color="primary" routerLink="create">
                      <mat-icon class="s-24 mr-4">add</mat-icon>
                      Create New
                    </button>

                  </div>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <table mat-table [dataSource]="dataSource |filter:searchText" class="mat-elevation-z8 w-100-p">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
                      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="titre">
                      <th mat-header-cell class="px-12" *matHeaderCellDef> Titre</th>
                      <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="lieu">
                      <th mat-header-cell class="px-12" *matHeaderCellDef> Lieu</th>
                      <td mat-cell class="px-12" *matCellDef="let element"> {{element.lieu}} </td>
                    </ng-container>


                    <ng-container matColumnDef="date">
                      <th mat-header-cell class="px-12" *matHeaderCellDef> Date</th>
                      <td mat-cell class="px-12" *matCellDef="let element">
                        {{element.date | date :'d MMMM y, HH:mm'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="actions" stickyEnd>
                      <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
                      <td  mat-cell class="px-12 w-120" *matCellDef="let element">
                        <div *ngIf="isAdmin()">
                        <button mat-icon-button [routerLink]="element.id + '/edit'">
                          <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button color="warn"(click)="onRemoveAccount(element.id)" >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      
                      <button  mat-raised-button color="primary" (click)="affecter(CurrentUserId(),element.id)">Participer</button>
                    
                    </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>


        <!-- End Tab 1 -->
        <!-- Tab 2 -->

