        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<a *ngIf="!user" routerLink="login" class=" m-r-20 hidden-sm-up" mat-raised-button color="warn">Sign in</a>
<div *ngIf="!!user">
    <div *ngIf="user.displayName">
        <span class="username mx-12" fxHide fxShow.gt-sm >{{user.displayName}}   </span>
        <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" > <img [src]="user.photoURL" alt="user" class="profile-pic"> </button>   
    </div>
    <div *ngIf="user.displayName==null">
        <span class="username mx-12" fxHide fxShow.gt-sm >{{user.email}}   </span>
        <button *ngIf="!!membre" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" > <img src ="{{path}}{{membre.id}}" alt="user" class="profile-pic"> </button>
        <button *ngIf="!membre" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" > <mat-icon>construction</mat-icon></button>

    </div>
    
    <mat-menu #profile="matMenu" class="mymegamenu">
            
        <button  *ngIf="!!membre" mat-menu-item routerLink="profil">
            <mat-icon>account_box</mat-icon> Profile </button>
        <!--<button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>-->
    </mat-menu>
</div>


