<mat-card>
  <mat-tab-group>
    <!-- Tab 1 -->
    <mat-tab label='Liste des étudiants'>
      <mat-card-content>
        <div class="search-hero">

          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche">
        </div>

        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <table mat-table [dataSource]="dataSource  |filter:searchText" class="mat-elevation-z8 w-100-p">
          <ng-container matColumnDef="id">
            <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
            <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="cin">
            <th mat-header-cell class="px-12" *matHeaderCellDef>CIN</th>
            <td mat-cell class="px-12" *matCellDef="let element"> {{element.cin}} </td>
          </ng-container>

          <ng-container matColumnDef="nom">
            <th mat-header-cell class="px-12" *matHeaderCellDef>Nom</th>
            <td mat-cell class="px-12" *matCellDef="let element">{{element.nom}}</td>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <th mat-header-cell class="px-12" *matHeaderCellDef>Prenom</th>
            <td mat-cell class="px-12" *matCellDef="let element">{{element.prenom}}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell class="px-12" *matHeaderCellDef>EMAIL</th>
            <td mat-cell class="px-12" *matCellDef="let element">{{element.email}}</td>
          </ng-container>

          <ng-container matColumnDef="affecter" stickyEnd>
            <th mat-header-cell class="px-12 w-120" *matHeaderCellDef>Affecter</th>
            <td mat-cell class="px-12 w-120" *matCellDef="let element">
              <button mat-raised-button color="primary"  *ngIf="element.encadrant==null" (click)="affecter(element.id, CurrentUserId())">Affecter</button>
              <mat-chip color="accent"  *ngIf="element.encadrant!=null" selected >Affecté(e)</mat-chip>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
