<mat-card>

  <div class="p-20 bg-info position-relative">
    <h4 class="card-title text-white m-0">Publications</h4>
    <h6 class="card-subtitle text-white m-0 op-5">La liste de tous les publications</h6>
    <button *ngIf="isAdmin()" mat-mini-fab color="accent" class="add-contact" routerLink="create">+</button>
  </div>
  <div class="message-box contact-box p-20">
    <div class="message-widget contact-widget">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche">
      </div>
        <div *ngFor='let pub of publicationData  | filter:searchText'>

          <div class="p-b-20 b-b m-b-30">
            <h4 class="m-0">{{pub.titre}}<small class="text-muted">({{pub.dateApparition}})</small>
              
                <button *ngIf="isAdmin()" mat-icon-button [routerLink]="pub.id + '/edit'">
                  <mat-icon>edit</mat-icon>
                </button>
  
               <button *ngIf="isAdmin()" mat-icon-button color="warn" (click)="onRemoveAccount(pub.id)">
                  <mat-icon>delete</mat-icon>
                </button>

             
              

            </h4>
            <p class="text-danger">{{pub.type}}</p>
            <p class="text-info"><a [href]="pub.lien"></a>{{pub.lien}}</p>
            <a mat-raised-button *ngIf="pub.sourcePdf==null" color="primary"  matBadgePosition="before" target="_blank"  disabled>Pas de source pdf</a>

            <a mat-raised-button *ngIf="pub.sourcePdf!=null" color="accent"  matBadgePosition="before" target="_blank"  href="{{downloadPath}}{{pub.sourcePdf}}"><mat-icon>download</mat-icon>Télécharger la publication</a>
          </div>
        </div>
    </div>
  </div>

</mat-card>

