<mat-card>
  <mat-tab-group>
    <mat-tab>
      <mat-card-content label="Publication">
        <mat-card-title>Publications</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <h4>{{isFormInEditMode() ? 'Modifier la publication' : 'Ajouter une publication'}}</h4>
    <form [formGroup]="form"  class="basic-form" *ngIf="!!form" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap">
        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="titre" formControlName="titre">
          </mat-form-field>
        </div>
        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="type" formControlName="type">
          </mat-form-field>
        </div>
        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="lien" formControlName="lien">
          </mat-form-field>
        </div>

        <!-- column -->
        <mat-form-field appearance="fill">
          <mat-label>Date d'apparition</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateApparition" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <div *ngIf="currentItemId ==null" class="form-group">
            <label>Source Pdf</label>
            <input type="file" accept="pdf/*" formControlName="sourcePdf" (change)="onSelectSourcePdf($event)">
          </div>
        </div>

        <!-- column -->
        <div fxFlex.gt-sm="100" fxFlex="100">
          <button mat-raised-button color="warn" [disabled]="form.invalid" type="submit">Ajouter</button>
          <button mat-raised-button color="primary" (click)="previousState()">Annuler</button>
        </div>
      </div>
    </form>
      </mat-card-content>
    </mat-tab>

  </mat-tab-group>
</mat-card>
